#ignorar .vs y cosas de vs
.vs/
Permaquim.Depositary.Interfaces/.vs/
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
Permaquim.Depositary.Database/Permaquim.Depositary.Database.jfm
Permaquim.Depositary.Database/Permaquim.Depositary.Database.dbmdl
Permaquim.Depositary.Database/Permaquim.Depositary.Database.jfm
Permaquim.Depositary.Database/Permaquim.Depositary.Database.jfm
*.jfm
