@page "/ValorVistaDenominacionView"
@using  Permaquim.Depositary.Web.Administration.Controllers;
 
@inject NotificationService NotificationService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavManager
 
@if (VistaDenominacion_entities != null)
{
            <RadzenBadge BadgeStyle="BadgeStyle.Secondary" >
                <ChildContent>
                    <div>
                        <h4 style="color:white;">VistaDenominacion</h4>
                    </div>
                </ChildContent>
            </RadzenBadge>
 <hr>
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
        Data="@VistaDenominacion_entities" TItem="DepositarioAdminWeb.Entities.Views.Valor.VistaDenominacion" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
       <EmptyTemplate>
            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No existen registros.</p>
        </EmptyTemplate>        
        <Columns>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Views.Valor.VistaDenominacion" Property="Nombre" Title="Nombre" Frozen="false" Sortable="true" Filterable="true" Width="60px" >
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Views.Valor.VistaDenominacion" Property="Moneda" Title="Moneda" Frozen="false" Sortable="true" Filterable="true" Width="60px" >
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Views.Valor.VistaDenominacion" Property="Denominacion" Title="Denominacion" Frozen="false" Sortable="true" Filterable="true" Width="60px" >
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Views.Valor.VistaDenominacion" Property="Unidades" Title="Unidades" Frozen="false" Sortable="true" Filterable="true" Width="60px" >
            </RadzenDataGridColumn>
        </Columns>
        </RadzenDataGrid>
    }
 <hr>
 
    <RadzenNotification /> 
 
@code {
    /// <summary>
    /// Variables to handle main entity
    /// </summary>
    private DepositarioAdminWeb.Entities.Views.Valor.VistaDenominacion VistaDenominacion_entity = new();
    private List<DepositarioAdminWeb.Entities.Views.Valor.VistaDenominacion>? VistaDenominacion_entities;
 
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadMainEntityData);
    }
    #region Loading entities data
    /// <summary>
    /// Loads main entity data
    /// </summary>
    private void LoadMainEntityData()
    {
        DepositarioAdminWeb.Business.Views.Valor.VistaDenominacion entity = new();
        VistaDenominacion_entities = entity.Items();
    }
    #endregion
}
